@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .border-l1 {
    border-radius: 5rem 15rem 9rem 15rem;
  }
  .border-l2 {
    border-radius: 17rem 5rem 5rem 19rem;
  }
  .border-l3 {
    border-radius: 13rem 6rem 16rem 12rem;
  }

  
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  .animated-border-rotate {
    position: relative;
  }
  .animated-border-rotate::after,
  .animated-border-rotate::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: calc(100% + 10px);
    width: calc(100% + 5px);
    background: conic-gradient(
      from var(--angle),
      transparent 65%,
      red,
      violet,
      blue
    );
    border-radius: 10px;
    translate: -50% -50%;
    z-index: 1;
    padding: 3px;
    animation: rotate 2s linear 0ms infinite;
  }
  .animated-border-rotate::before {
    filter: blur(1.5rem);
    opacity: 0.5;
  }
  @keyframes rotate {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
}